// colors
$primaryColor: #b49874;
$secondaryColor:#332614;
$infoColor:#FAF8F5;
$lightColor: #F2E8DA;
$warningColor:#A89A87;
$darkColor:#736450;

// Font
$font-default-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontPrimary:"Amatic SC", sans-serif;
$fontSecondary: "Inter", sans-serif;

// box shadow
$boxShadow: 0 8px 28px rgba(206, 18, 18, 0.2);
